@using Microsoft.AspNetCore.Mvc.Localization
@using Smart_Medical.Localization
@inject IHtmlLocalizer<Smart_MedicalResource> L
<a class="nav-link" role="button" href="~/Account/Login">@L["Login"]</a>
